/*General website-wide settings*/
body {
 background-color:#333333;
 color:#FFFFFF;
 font-family:serif;
 margin:0;
 padding:0;
 text-align:center;
}

a:link {
 color:#777777;
 text-decoration:none;
 font-family:sans-serif;
}

a:visited {
 color:#999999;
 text-decoration:none;
}

a:hover {
 color:#555555;
 text-decoration:underline;
}

/*Main layout settings*/
#top {
 width:780px;
 margin-left:auto;
 margin-right:auto;
 text-align:left;
}

header {
}

nav {
	display:inline-block;
}

footer {
 clear:both;
 width:100%;
}

#account_info {
 width:120px;
 float:right;
 overflow:hidden;
 padding:10px;
 border:1px solid #555555;
 border-radius: 5px;
 text-align:right;
}

#main_content {
 float:left;
 width:600px;
 overflow:hidden;
 text-align:justify;
}

/*Top navigation bar*/
nav ul {
 display:block;
 list-style:none;
 margin:0;
 padding:0;
 float:left;
 background-color:#777777;
 padding:1px 0 1px 1px;
 border:1px solid #555555; 
}

nav li {
 float:left;
}

nav a:link, nav a:visited {
 text-decoration:none;
 display:block;
 font-weight:bold;
 background-color:#777777;
 color:#999999;
 padding:10px 20px;
 border:1px solid #333333;
}

nav a:hover {
 background-color:#999999;
 color:#777777;
}

/*Account info*/
#account_info ul{
 font-size:small;
}

/*Tag styling*/
a.tag:link, a.tag:visited {
 text-decoration:none;
 float:left;
 background-color:#777777;
 color:#999999;
 padding:5px;
 border:1px solid #333333;
 border-radius: 5px;
}

a.tag:hover {
 background-color:#999999;
 color:#777777;
}

/*Articles*/
article {
 clear:both;
}

/*Article submitting*/
textarea {
 resize: vertical;
 width: 580px;
 height: 400px;
}
