<head>
    <title>PeKaWu</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="description" content="Aplikacja do obsługi wyborów w Rzeczypospolitej Polskiej" />
    <link rel="stylesheet" type="text/css" href="/style.css" />
</head>
