{{ template "head.html" }}
<body>
	<h1> System Obsługi Wyborów PeKaWu </h1>

	<nav>
		<ul>
			<li><a href="obywateleSearch"> Wyszukaj obywateli </a></li>
			<li><a href="obywateleAdd"> Dodaj obywatela </a></li>
			<li><a href="wyboryAdd"> Stwórz nowe wybory </a></li>
			<li><a href="komisjeAdd"> Stwórz komisję obwodową </a></li>
			<li><a href="nadkomisjeAdd"> Stwórz nadkomisję </a></li>
			<li><a href="nadkomisjeCzlonkowie"> Dodawanie członków do nadkomisji </a></li>
			<li><a href="mandatyAdd"> Dodawanie madatów do zdobycia </a></li>
			<li><a href="komitetAdd"> Stwórz komitet wyborczy </a></li>
			<li><a href="listaAdd"> Dodaj listę kandydatów </a></li>
			<li><a href="podpisyAdd"> Podpisz listę </a></li>
			<li><a href="wynikiShow"> Wyniki wyborów </a></li>
		</ul>
	</nav>

	<p> Witaj w systemie obsługi wyborów. Powyżej masz dostępne akcje. <p>
</body>
