{{ template "head.html" }}
<body>
	<h1> Wybierz kandydata </h1>

	<form action="vote" method="POST">
		<input type="hidden" name="pesel" value="{{ .Pesel }}" />
		<input type="hidden" name="id_wyborow" value="{{ .IdWyborow }}" />
		<input type="hidden" name="id_listy" value="{{ .IdListy }}" />
		{{ range .Kandydaci }}
			<button type="submit" name="kandydat" value="{{ .Id }}"> {{ .Imie }} {{ .Nazwisko }} </button>
		{{ end }}
	</form>
</body>
