{{ template "head.html" }}
<body>
	<h1> Stwórz komisję </h1>

	<form action="komisjeAdd" method="POST">
		<label for="nazwa"> Nazwa: </label> <input type="text" name="nazwa" /><br>
		<label for="przewodniczacy"> PESEL przewodniczącego: </label> <input type="text" name="przewodniczacy" /><br>
		<label for="zastepca"> PESEL zastępcy: </label> <input type="text" name="zastepca" /><br>
		<label for="sekretarz"> PESEL sekretarza: </label> <input type="text" name="sekretarz" /><br>
		<label for="czlonek"> PESEL czlonka: </label> <input type="text" name="czlonek" /><br>
		<label for="czlonek"> PESEL czlonka: </label> <input type="text" name="czlonek" /><br>
		<label for="czlonek"> PESEL czlonka: </label> <input type="text" name="czlonek" /><br>
		<input type="submit" name="add" value="Dodaj">
	</form>
</body>
