{{ template "head.html" }}
<body>
	<h1> Stwórz komitet wyborczy </h1>

	<form action="komitetAdd" method="POST">
		<label for="nazwa"> Nazwa: </label> <input type="text" name="nazwa" /><br>
		<label for="nr"> Numer: </label> <input type="text" name="nr" /><br>
		<input type="submit" name="add" value="Dodaj">
	</form>
</body>
