{{ template "head.html" }}
<body>
	<h1> Stwórz listę wyborczą </h1>
	<h2> Wybierz mandat </h2>

	<form action="listaAdd" method="POST">
		<input type="hidden" name="id_komitetu" value="{{ .IdKomitetu }}" />
		<input type="hidden" name="id_wyborow" value="{{ .IdWyborow }}" />
		<label for="id_nadkomisji"> Mandat: </label> <select name="id_nadkomisji" />
			{{ range .Mandaty }}
				<option value={{.IdNadkomisji}}> {{.Nazwa}} </option>
			{{ end }}
		</select><br>
		<input type="submit" name="add" value="Dodaj">
	</form>
</body>
