{{ template "head.html" }}
<body>
	<h1> Wybierz listę </h1>

	<form action="kandydatSelect" method="POST">
		<input type="hidden" name="pesel" value="{{ .Pesel }}" />
		<input type="hidden" name="id_wyborow" value="{{ .IdWyborow }}" />
		{{ range .ListyKomitety }}
			<button type="submit" name="lista" value="{{ .IdListy }}"> {{ .NazwaKomitetu }} </button><br>
		{{ end }}
		<button type="submit" name="lista" value="-1"> Oddaj głos nieważny </button>
	</form>
</body>
