{{ template "head.html" }}
<body>
	<h1> Stwórz listę wyborczą </h1>
	<h2> Dodaj kandytatów </h2>

	<form action="listaAdd" method="POST">
		<input type="submit" name="add_kand" value="Dodaj" /><br>
		<input type="hidden" name="id_listy" value="{{ . }}" />
		<label for="pesel"> PESEL kandydata: </label> <input type="text" name="pesel" /><br>
		<label for="pesel"> PESEL kandydata: </label> <input type="text" name="pesel" /><br>
		<label for="pesel"> PESEL kandydata: </label> <input type="text" name="pesel" /><br>
		<label for="pesel"> PESEL kandydata: </label> <input type="text" name="pesel" /><br>
		<label for="pesel"> PESEL kandydata: </label> <input type="text" name="pesel" /><br>
		<label for="pesel"> PESEL kandydata: </label> <input type="text" name="pesel" /><br>
		<label for="pesel"> PESEL kandydata: </label> <input type="text" name="pesel" /><br>
		<label for="pesel"> PESEL kandydata: </label> <input type="text" name="pesel" /><br>
		<label for="pesel"> PESEL kandydata: </label> <input type="text" name="pesel" /><br>
		<label for="pesel"> PESEL kandydata: </label> <input type="text" name="pesel" /><br>
		<label for="pesel"> PESEL kandydata: </label> <input type="text" name="pesel" /><br>
		<label for="pesel"> PESEL kandydata: </label> <input type="text" name="pesel" /><br>
		<label for="pesel"> PESEL kandydata: </label> <input type="text" name="pesel" /><br>
		<label for="pesel"> PESEL kandydata: </label> <input type="text" name="pesel" /><br>
		<label for="pesel"> PESEL kandydata: </label> <input type="text" name="pesel" /><br>
		<label for="pesel"> PESEL kandydata: </label> <input type="text" name="pesel" /><br>
		<label for="pesel"> PESEL kandydata: </label> <input type="text" name="pesel" /><br>
		<label for="pesel"> PESEL kandydata: </label> <input type="text" name="pesel" /><br>
		<label for="pesel"> PESEL kandydata: </label> <input type="text" name="pesel" /><br>
		<label for="pesel"> PESEL kandydata: </label> <input type="text" name="pesel" /><br>
		<label for="pesel"> PESEL kandydata: </label> <input type="text" name="pesel" /><br>
		<label for="pesel"> PESEL kandydata: </label> <input type="text" name="pesel" /><br>
		<label for="pesel"> PESEL kandydata: </label> <input type="text" name="pesel" /><br>
		<label for="pesel"> PESEL kandydata: </label> <input type="text" name="pesel" /><br>
		<label for="pesel"> PESEL kandydata: </label> <input type="text" name="pesel" /><br>
		<label for="pesel"> PESEL kandydata: </label> <input type="text" name="pesel" /><br>
		<label for="pesel"> PESEL kandydata: </label> <input type="text" name="pesel" /><br>
		<label for="pesel"> PESEL kandydata: </label> <input type="text" name="pesel" /><br>
		<label for="pesel"> PESEL kandydata: </label> <input type="text" name="pesel" /><br>
		<label for="pesel"> PESEL kandydata: </label> <input type="text" name="pesel" /><br>
		<label for="pesel"> PESEL kandydata: </label> <input type="text" name="pesel" /><br>
	</form>
</body>
