{{ template "head.html" }}
<body>
	<h1> Stwórz listę wyborczą </h1>

	<form action="listaAdd" method="POST">
		<label for="id_komitetu"> Komitet: </label> <select name="id_komitetu" />
			{{ range .Komitety }}
				<option value={{.Id}}> {{.Nazwa}} </option>
			{{ end }}
		</select><br>
		<label for="id_wyborow"> Wybory: </label> <select name="id_wyborow" />
			{{ range .Wybory }}
				<option value={{.Id}}> {{.Nazwa}} </option>
			{{ end }}
		</select><br>
		<input type="submit" name="add" value="Kontynuuj">
	</form>
</body>
