{{ template "head.html" }}
<body>
	<h1> Dodaj mandat </h1>

	<form action="mandatyAdd" method="POST">
		<label for="id_nadkomisji"> Nadkomisja: </label> <select name="id_nadkomisji" />
			{{ range .Nadkomisje }}
				<option value={{.Id}}> {{.Nazwa}} </option>
			{{ end }}
		</select><br>
		<label for="id_wyborow"> Wybory: </label> <select name="id_wyborow" />
			{{ range .Wybory }}
				<option value={{.Id}}> {{.Nazwa}} </option>
			{{ end }}
		</select><br>
		<label for="nazwa"> Nazwa: </label> <input type="text" name="nazwa" /><br>
		<label for="liczba"> Liczba: </label> <input type="text" name="liczba" /><br>
		<input type="submit" name="add" value="Dodaj">
	</form>
</body>
