{{ template "head.html" }}
<body>
	<h1> Stwórz nadkomisję </h1>

	<form action="nadkomisjeAdd" method="POST">
		<label for="id_nadkomisji"> Nadkomisja: </label> <select name="id_nadkomisji" />
			<option value="NULL"> Brak </option>
			{{ range . }}
				<option value={{.Id}}> {{.Nazwa}} </option>
			{{ end }}
		</select><br>
		<label for="nazwa"> Nazwa: </label> <input type="text"
		name="nazwa" /><br>
		<input type="submit" name="add" value="Dodaj">
	</form>
</body>
