{{ template "head.html" }}
<body>
	<h1> Nadkomisje </h1>

	<table>
		<tr>
			<td>Nazwa</td>
			<td>Dodaj członka</td>
		</tr>
		{{ range . }}
			<tr>
				<td>{{ .Nazwa }}</td>
				<td>
					<form action="nadkomisjeCzlonkowie" method="POST">
						<input type="hidden" name="id" value="{{ .Id }}" />
						<input type="submit" name="add_czlonek" value="Dodaj członka">
					</form>
				</td>
			</tr>
		{{ end}}
	</table>
</body>
