{{ template "head.html" }}
<body>
	<h1> Dodaj członka do nadkomisji </h1>

	<form action="nadkomisjeCzlonkowie" method="POST">
		<label for="pesel"> PESEL członka: </label> <input type="text" name="pesel" />
		<label for="funkcja"> Funkcja członka: </label> <input type="text" name="funkcja" />
		<input type="hidden" name="id_nadkomisji" value="{{ . }}">
		<input type="submit" name="add_czlonek" value="Dodaj">
	</form>

</body>
