{{ template "head.html" }}
<body>
	<h1> Wyszukaj obywateli </h1>

	<h2> Wyszukaj obywatela konkretnego obywatela </h2>

	<form action="obywateleSearch" method="POST">
		<label for="peselLubNrDowodu"> PESEL lub numer dowodu osobistego: </label> <input type="text" name="peselLubNrDowodu" />
		<input type="submit" name="search" value="Szukaj">
	</form>

	<h2> Wyszukaj obywatela w zależności od miejsca zamieszkania </h2>

	<form action="obywateleSearch" method="POST">
		<label for="miasto"> Miasto: </label> <input type="text" name="miasto" />
		<label for="kodPocztowy"> Kod pocztowy: </label> <input type="text" name="kodPocztowy" />
		<label for="ulica"> Ulica: </label> <input type="text" name="ulica" />
		<input type="submit" name="search" value="Szukaj">
	</form>
</body>
