{{ template "head.html" }}
<body>
	<h1> Znalezieni obywatele </h1>

	<table>
		<tr>
			<td>PESEL</td>
			<td>Data urodzenia</td>
			<td>Numer dowodu</td>
			<td>Imię</td>
			<td>Nazwisko</td>
			<td>Adres</td>
			<td>Pozbawiony praw</td>
		</tr>
		{{ range .ObywateleFound }}
			<tr>
				<td>{{ .Pesel }}</td>
				<td>
					{{ .Data_urodzenia.Year }}-{{ printf "%02d" .Data_urodzenia.Month }}-{{ printf "%02d" .Data_urodzenia.Day }}
				</td>
				<td>
					{{ if .Nr_dowodu.Valid }}
						{{ .Nr_dowodu.String }}
					{{ else }}
						Nie posiada
					{{ end }}
				</td>
				<td>{{ .Imie }}</td>
				<td>{{ .Nazwisko }}</td>
				<td>
					{{ .Miasto }}
					{{ .Kod_pocztowy }}
					{{ .Ulica }} {{ .Nr_domu }}
					{{ if .Literka_domu.Valid }}
						{{ .Literka_domu.String }}
					{{ end }}
					{{ if .Nr_mieszkania.Valid }} 
						m.{{ .Nr_mieszkania.Int64 }}
					{{ end }}
				</td>
				<td>
					{{ if .Pozbawiony_praw }}
						tak
					{{ else }}
						nie
					{{ end }}
				</td>
			</tr>
		{{ end}}
	</table>
	<h2> Przypisz znalezionych obywateli do komisji obwodowej </h2>

	<form action="obywateleObwody" method="POST">
		<label for="id_komisji"> Id komisji: </label> <select name="id_komisji" />
			{{ range .Komisje }}
				<option value="{{ .Id }}"> {{ .Nazwa }} </option>
			{{ end}}
		</select><br>
		<label for="id_wyborow"> Id wyborów: </label> <select name="id_wyborow" />
			{{ range .Wybory }}
				<option value="{{ .Id }}"> {{ .Nazwa }} </option>
			{{ end}}
		</select><br>
		{{ range .ObywateleFound }}
			<input type="hidden" name="pesele" value="{{ .Pesel }}" />
		{{ end}}
		<input type="submit" name="add" value="Przypisz">
	</form>
</body>
