{{ template "head.html" }}
<body>
	<h1> Dodaj obywatela </h1>

	<form action="obywateleAdd" method="POST">
		<label for="pesel"> PESEL: </label> <input type="text" name="pesel" /><br>
		<label for="data_urodzenia"> Data urodzenia: </label> <input type="date" name="data_urodzenia" /><br>
		<label for="nr_dowodu"> Numer dowodu: </label> <input type="text" name="nr_dowodu" /><br>
		<label for="imie"> Imię: </label> <input type="text" name="imie" /><br>
		<label for="nazwisko"> Nazwisko: </label> <input type="text" name="nazwisko" /><br>
		<label for="miasto"> Miasto: </label> <input type="text" name="miasto" /><br>
		<label for="kod_pocztowy"> Kod pocztowy: </label> <input type="text" name="kod_pocztowy" /><br>
		<label for="ulica"> Ulica: </label> <input type="text" name="ulica" /><br>
		<label for="nr_domu"> Numer domu: </label> <input type="text" name="nr_domu" /><br>
		<label for="literka_domu"> Literka domu: </label> <input type="text" name="literka_domu" /><br>
		<label for="nr_mieszkania"> Numer mieszkania: </label> <input type="text" name="nr_mieszkania" /><br>
		<input type="submit" name="add" value="Dodaj">
	</form>
</body>
