{{ template "head.html" }}
<body>
	<h1> Dodaj podpisy pod listę wyborczą </h1>

	<form action="podpisyAdd" method="POST">
		<input type="submit" name="add" value="Dodaj" /><br>
		<label for="id_listy"> Lista: </label> <select name="id_listy">
			{{ range . }}
				<option value="{{ .Id }}"> {{ .Id }} </option>
			{{ end }}
		</select><br>
		<label for="pesel"> PESEL podpisującego: </label> <input type="text" name="pesel" /><br>
		<label for="pesel"> PESEL podpisującego: </label> <input type="text" name="pesel" /><br>
		<label for="pesel"> PESEL podpisującego: </label> <input type="text" name="pesel" /><br>
		<label for="pesel"> PESEL podpisującego: </label> <input type="text" name="pesel" /><br>
		<label for="pesel"> PESEL podpisującego: </label> <input type="text" name="pesel" /><br>
		<label for="pesel"> PESEL podpisującego: </label> <input type="text" name="pesel" /><br>
		<label for="pesel"> PESEL podpisującego: </label> <input type="text" name="pesel" /><br>
		<label for="pesel"> PESEL podpisującego: </label> <input type="text" name="pesel" /><br>
		<label for="pesel"> PESEL podpisującego: </label> <input type="text" name="pesel" /><br>
		<label for="pesel"> PESEL podpisującego: </label> <input type="text" name="pesel" /><br>
		<label for="pesel"> PESEL podpisującego: </label> <input type="text" name="pesel" /><br>
		<label for="pesel"> PESEL podpisującego: </label> <input type="text" name="pesel" /><br>
		<label for="pesel"> PESEL podpisującego: </label> <input type="text" name="pesel" /><br>
		<label for="pesel"> PESEL podpisującego: </label> <input type="text" name="pesel" /><br>
		<label for="pesel"> PESEL podpisującego: </label> <input type="text" name="pesel" /><br>
		<label for="pesel"> PESEL podpisującego: </label> <input type="text" name="pesel" /><br>
		<label for="pesel"> PESEL podpisującego: </label> <input type="text" name="pesel" /><br>
		<label for="pesel"> PESEL podpisującego: </label> <input type="text" name="pesel" /><br>
		<label for="pesel"> PESEL podpisującego: </label> <input type="text" name="pesel" /><br>
		<label for="pesel"> PESEL podpisującego: </label> <input type="text" name="pesel" /><br>
		<label for="pesel"> PESEL podpisującego: </label> <input type="text" name="pesel" /><br>
		<label for="pesel"> PESEL podpisującego: </label> <input type="text" name="pesel" /><br>
		<label for="pesel"> PESEL podpisującego: </label> <input type="text" name="pesel" /><br>
		<label for="pesel"> PESEL podpisującego: </label> <input type="text" name="pesel" /><br>
		<label for="pesel"> PESEL podpisującego: </label> <input type="text" name="pesel" /><br>
		<label for="pesel"> PESEL podpisującego: </label> <input type="text" name="pesel" /><br>
		<label for="pesel"> PESEL podpisującego: </label> <input type="text" name="pesel" /><br>
		<label for="pesel"> PESEL podpisującego: </label> <input type="text" name="pesel" /><br>
		<label for="pesel"> PESEL podpisującego: </label> <input type="text" name="pesel" /><br>
		<label for="pesel"> PESEL podpisującego: </label> <input type="text" name="pesel" /><br>
		<label for="pesel"> PESEL podpisującego: </label> <input type="text" name="pesel" /><br>
	</form>
</body>
