{{ template "head.html" }}
<body>
	<h1> Pokaż wyniki wyborów</h1>

	<form action="wynikiShow" method="POST">
		<input type="submit" name="add" value="Wybierz" /><br>
		<label for="id_wyborow"> Wybory: </label> <select name="id_wyborow">
			{{ range . }}
				<option value="{{ .Id }}"> {{ .Nazwa }} </option>
			{{ end }}
		</select><br>
	</form>
</body>
