{{ template "head.html" }}
<body>
	<h1> Wyniki wyborów </h1>

	<h2> Frekwencja: {{ .Frekwencja }} % </h2>

	<h2> Wyniki poszczególnych mandatów </h2>

	{{ range .MandatWyniki }}
		<h3> {{ .Mandat.Nazwa }} </h3>
		<h4> Przyznano mandat </h4>
		{{ range .Zdobywcy }}
			<p> {{ .Imie }} {{ .Nazwisko }} </p>
		{{ end }}
		<h4> Rozkład głosów <h4>
		{{ range .Wyniki }}
			<p> {{ .Imie }} {{ .Nazwisko }}, {{ .NazwaKomitetu }}: {{ .Glosy }} głosów </p>
		{{ end }}
	{{ end }}



</body>
