{{ template "head.html" }}
<body>
	<h1> Wybierz wybory </h1>

	<form action="listaSelect" method="POST">
		<input type="hidden" name="pesel" value="{{ .Pesel }}" />
		{{ range .Wybory }}
			<button type="submit" name="wybory" value="{{ .Id }}"> {{ .Nazwa }} </button>
		{{ end }}
	</form>
</body>
