{{ template "head.html" }}
<body>
	<h1> Zagłosuj w wyborach </h1>

	<form action="wyborySelect" method="POST">
		<label for="pesel"> Podaj PESEL: </label> <input type="text" name="pesel" />
		<input type="submit" name="start" value="Rozpocznij">
	</form>
</body>
