{{ template "head.html" }}
<body>
	<h1> Stwórz wybory </h1>

	<form action="wyboryAdd" method="POST">
		<label for="typ"> Typ wyborów: </label> <select name="typ" />
			{{ range . }}
				<option value={{.Nazwa}}> {{.Nazwa}} </option>
			{{ end }}
		</select><br>
		<label for="poczatek"> Data początku: </label> <input type="datetime-local"
		name="poczatek" /><br>
		<label for="koniec"> Data końca: </label> <input type="datetime-local"
		name="koniec" /><br>
		<label for="nazwa"> Nazwa: </label> <input type="text" name="nazwa" /><br>
		<input type="submit" name="add" value="Dodaj">
	</form>
</body>
